<div class="panel panel-default" ng-init="showProduct()">
	<div class="panel-heading">
	  <p class="panel-title"> Product Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Product Name: {{ product.productname  }}</label>
		 <label class="form-control">Category: {{ product.category }}</label>
		 <label class="form-control">Description: {{ product.description }}</label>
		 <label class="form-control">Price: {{ product.price }}</label>
		 <label class="form-control">Size: {{ product.size }}</label>
		 <label class="form-control">Stock: {{ product.stock }}</label>
		 <a href="#/products/list" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>